body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(29, 29, 29);
   */
  background: rgb(176, 174, 174);
  color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
}

.NavBar-link {
  margin: 0 10px;
}

.form-control {
  width: 30vw;
  background-color: rgb(36, 36, 36);
  margin: 20px 0;
  height: 5vh;
  border: none;
  border: 0.125px solid rgb(42, 42, 42);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: gray;
}

.NavBar-welcome {
  color: grey;
}

.nav {
  /* background-color: rgb(36, 36, 36);
   */
  background-color: rgb(116, 116, 116);
  padding: 10px;
  position: relative;
  height: 6vh;
}
.auth {
  width: 12vw;
  position: absolute;
  right: 10px;
  top: 33px;
}

#brand {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 40px;
  margin: 10px 0 0 0;
  position: absolute;
  left: 80px;
}

/*-- SearchBar --*/
.Search {
  position: absolute;
  left: 28%;
  top: 18px;
}

#searchbar {
  width: 38vw;
  height: 25px;
  background-color: rgb(19, 19, 19);
  border: 0.125px solid rgb(42, 42, 42);
  color: white;
  font-size: 20px;
  padding: 10px;
}

#submit {
  height: 45px;
  border: 0.125px solid rgb(42, 42, 42);
  background-color: rgb(57, 57, 57);
  border-left: none;
  font-size: 15px;
  padding: 5px;
  width: 4vw;
}

.field {
  display: flex;
  align-items: center;
}

#search-icon {
  color: rgb(116, 116, 116);
}

#search-icon:hover {
  color: rgb(176, 174, 174);
}

/*-- SignupPage --*/

.SignupPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.header-footer {
  font-size: 40px;
}

.btn {
  width: 5vw;
  height: 4vh;
  background-color: rgb(36, 36, 36);
  border: 0.125px solid rgb(42, 42, 42);
  font-size: 15px;
  color: gray;
}

.signup-form {
  margin: -15vh 0;
}

/*-- LoginPage --*/
.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
